# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Notebooks Jupyter
.ipynb_checkpoints/
# Scripts Python extraits des notebooks
src/01_data_wrangling.py
src/02_eda_visualisation.py
src/03_modelisation_pred.py
src/04_vision_cnn_tf.py
src/02_wrangling.py
src/03_visualisation.py
src/04_eda.py
src/05_modelisation.py

# Journaux d'exécution des notebooks
logs/*.log


# Environnements Virtuels
venv/
.venv/
env/
.env/

# Données (ignorer les gros fichiers sauf notre dataset d'exemple brut)
data/raw/*
!data/raw/raw_data_sample.csv
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Quarto & Rendu
.quarto/
*_files/
*_cache/

# Fichiers OS
.DS_Store
Thumbs.db

*.pdf
*.html