# Pandas & Manipulation de données
pandas>=2.0.0
numpy>=1.24.0

# Machine Learning & Deep Learning
scikit-learn>=1.2.0
tensorflow>=2.12.0

# Visualisation graphique
matplotlib>=3.7.0
seaborn>=0.12.0
plotnine>=0.12.0
plotly>=5.24.0
bokeh>=3.4.0

# Outils de développement
ipykernel
jupyter
